/* CSS for the SWiM CRM */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);

/* Gobal Styles */
body, html {
  width:100%;
}

.add_clinic_button_hide {
  display: none;
}
.showClinic {
  display: block !important;
}

.gp_clinic_select_div {
  display: none;
}

.login-wrapper {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height:300px;
  width:400px;
  border:0px none #fff;
  padding: 15px;
}

.login-image, .email-address {
	margin-bottom:10px;
}

.fa.col-xs-1 {
  margin-bottom:20px;
  font-size: 36px;
  color: var(--main-color);
  padding-bottom: 9px;
  text-align: right;
}

.btn.btn-default.btn-login {
  width: 100%;
}

.btn-default {
  background: var(--main-color);
  border-color: var(--main-color);
  color: var(--main-color-text);
  text-shadow: unset;
}

.btn-default:hover {
  background: var(--second-color);
  border-color: var(--second-color);
  color: var(--second-color-text);
  text-shadow: unset;
}

.submenuclass {
  background: var(--main-color);
  border-color: var(--main-color);
  color: var(--main-color-text);
}

.logoPrimary {
	margin-top:10px;
	margin-bottom:10px;
}

/* Sidebar */
.sidebar {
  background-color: var(--main-color);
  border-right: 1px solid #eee;
  bottom: 0;
  display: block;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 20px 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 0px;
  margin-left: -20px;
}

#sidebar hr {
  margin-top:5px;
  margin-bottom: 5px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: var(--main-color-text);
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus,
.nav > li > a:focus, .nav > li > a:hover{
  color: var(--thierd-color-text);
  background-color: var(--thierd-color);
}

.home-search{
  text-align: center;
}

.home-search .form-group{
  width: 35%;
}

.home-search .form-group .form-control{
  width: 100%;
}

.tab-pane {
  padding: 1.5rem 0;
}

.dl-horizontal dt{
  text-align: left;
}


.dash-results{
  text-align: center;
}

.page-header{
  color: var(--main-color);
}

.glyphicon{
  margin: 0 3px;
}

.main {
  padding: 20px;
}

.submenuclass {
  background: var(--main-color);
  border-color: var(--main-color);
  color: var(--main-color-text);
}

.sidebar i {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
}
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

 .placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-signin img {
  margin: 0 auto 1.5rem;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logoPrimary {
  margin: 1.5rem 0 2rem;
}
.logoMobile {
  margin: 0 0 1.5rem 0;
}

a{
  cursor: pointer;
}

/* Offcanvas Syle */

/*
 * Style tweaks
 * --------------------------------------------------
 */
 html,
 body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.row-offcanvas-right {
    right: 0;
}

.row-offcanvas-left {
    left: 0;
}

.row-offcanvas-right
.sidebar-offcanvas {
    right: -50%; /* 6 columns */
}

.row-offcanvas-left
.sidebar-offcanvas {
    left: -50%; /* 6 columns */
}

.row-offcanvas-right.active {
    right: 50%; /* 6 columns */
}

.row-offcanvas-left.active {
    left: 52%; /* 6 columns */
}

.sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
}
}

.alert {
  margin-top: 10px;
}

.opendrop{
  color: var(--thierd-color-text);
  background-color: var(--thierd-color);
}

.nav-stacked a {
  color: var(--main-color-text);
}

.nav-stacked > li > a {
  padding-left:35px;
}

.opendrop.collapsed{
  color: var(--main-color-text);
  background-color: unset;
}

.tableButtons {
  width:1%;
  white-space: nowrap;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  vertical-align: middle;
}

.advisor-block {
  padding-left: 0;
  padding-top: 20px;
}

footer {
  clear: both;
  margin-top: 10px;
  padding-top: 30px;
}

.login-image img {
  width: 100%;
}

.top-buttons {
  margin-bottom: 10px;
}

.address-largehalf {
  width:49%;
  float:left;
  margin-right:1%;
}

.address-half {
  width:25%;
  float:left;
  margin-right:1%;
}

.address-half2 {
  width:24%;
  float:left;
}

.address-feilds {
  margin-bottom: 6px;
}

.btn-info {
  background-image: linear-gradient(to bottom, #f2f2f2 0px, #d9d9d9 100%);
  background-repeat: repeat-x;
  border-color: #c1c1c1;
  color: #000000;
}

.btn-info:hover, .btn-info:focus {
  background-color: #d9d9d9;
  background-repeat: repeat-x;
  border-color: #c1c1c1;
  color: #000000;
}

.search-box {
  background: #f3f1f1 none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 10px 10px 20px;
  padding: 15px 10px;
}

.advanced-search-link {
  margin-left: 1.5%;
  padding-top: 5px;
}

.name-header {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 10px;
}

/******************* GP ************************/

.address-view, .address-view div {
  padding: 0px;
}

.view-table {
  width:100%;
}

.view-table td {
  vertical-align: top;
}

.view-table .view-title {
  font-weight: bold;
  width:35%;
  padding-right: 15px;
  vertical-align: top;
}

/******************* Pre-generate/Reports Page ************************/
.time_date_table > td {
    border: 1px solid black;
    text-align: center;
    line-height: 2;
    
  }

  td, th {
    padding: 5px !important;
    padding-top: 0px;
    padding-bottom: 0px;
  }

.view-table-lrg {
  width:50%;
}

@media (max-width: @screen-xs-max) { 
  .view-table-lrg {
    width:50%;
}
}

.view-table-lrg td {
  vertical-align: top;
}

.view-table-lrg .view-title {
  font-weight: bold;
  width:35%;
  padding-right: 15px;
  vertical-align: top;
}

.date-header {
  margin-top: -10px;
  text-align: right;
}

.sub-header {
  margin-top: -10px;
  text-align: right;
  font-weight:bold;
  font-size:16px;
  margin-bottom: 5px;
}

.rightaligned {
  text-align: right;
}

.notify-date .input-group-addon {
  border-left: 1px solid #ccc;
  border-top: 0 none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.notify-date .date-picker.form-control {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tick-boxes {
  min-width:20px;
  min-height:20px;
  padding-right: 5px;
  color:green;
  display: inline;
}

.tick-boxes-empty {
  min-width:20px;
  min-height:20px;
  padding-right: 5px;
  color:#dedede;
  display: inline;
}

.searchdate_name {
    padding-left: 0px !important;
}

  /******************* Advisor Sections ********************/
.side-contact {
    color: var(--main-color-text);
    text-shadow: unset;
}

.required {
  color: red;
}

  /******************* Client Sections ********************/
.notes-wrapper {
  min-height: 100px;
}

.notes-wrapper div {
  width: 100%;
  min-height: 50px;
  background: #dddddd;
}

#myTableAppointmentForm #date-picker-1 {
  width: 80%;
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#myTableAppointmentForm .input-group-addon.btn {
  width: 20%;
  float: left;
  height: 34px;
}

#myTableAppointmentForm, #myTableContactForm {
  background: #dff0d8;
  margin-top: 10px;
}

  /******************* Dashboard ********************/
.dash-results .text-success {
  color: #34b504;
}

.dash-results .text-warning {
  color: #fff30b;
}

.dash-results .text-danger {
  color: #fb000a;
}

.dash-table {
  width: 100%;
}

.dash-table .top-row {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
}

.dash-table td {
  text-align: center;
  padding: 2.5px !important;
  font-size: 14px;
}

.dash-table td.startvalue {
  text-align: left;
}

.bottom-row {
  border-top: 2px solid #000;
}